.KeyboardMenu {
  border: 1px solid black;
  background-color: var(--bgGUITop);
  position: absolute;
}

.KeyboardMenu button {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  -webkit-appearance: none;
  border: none;
  background: none;
  height: 20px;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  padding-left: 1em;
  font-size: 10px;
}

.KeyboardMenu button:focus {
  background-color: var(--selectedColor);
  outline: 0;
}

.KeyboardMenu .option {
  position: relative;
}

.KeyboardMenu .option .right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 10px;
  padding-right: 3px;
  display: flex;
  align-items: center;

}

.DescriptionBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
  margin: 0 auto;
  color: var(--menu-font-color);
  border-top: 1px solid black;
  background: var(--bgGUI);
}

.DescriptionBox p {
  font-size: 14px;
  margin: 0;
  padding: 0.4em;
}

.battle .KeyboardMenu {
  right: 0;
  bottom: 0;
  width: 140px;
}
